entryPoints:
  web:
    address: ":80"

providers:
  docker: {}

experimental:
  plugins:
    jwt-validation-middleware:
      moduleName: "github.com/legege/jwt-validation-middleware"
      version: "v0.2.1"

