# 1. Enable the Traefik dashboard and API
api:
  dashboard: true
  insecure: true

# 2. Logging
log:
  level: INFO
accessLog: 
  filePath: "/var/log/traefik/access.log"
  format: common

# 3. Define the entry point
entryPoints:
  web:
    address: ":80"

# 4. Configure providers: BOTH Docker (for frontend) and File (for APIs)
providers:
  docker:
    exposedByDefault: false
    network: proxy-network
  file:
    directory: "/etc/traefik/dynamic" # Points to path.yml
    watch: true

# 5. Load the JWT plugin
experimental:
  plugins:
    jwt-validation-middleware:
      moduleName: "github.com/legege/jwt-validation-middleware"
      version: "v0.2.1"